@charset "utf-8";
@import url("./font-awesome/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap'); 

/* ========================== 초기화 [s] */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block}
body{line-height:1;font-family:'Noto Sans KR'}
ol, ul, dl, dt, dd{list-style:none}
blockquote, q{quotes:none}
blockquote:before, blockquote:after,q:before, q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
input, button{margin:0;padding:0;font-family:'Noto Sans KR'}
input[type="submit"]{cursor:pointer}
button{cursor:pointer}
textarea, select{font-family:'Noto Sans KR'}
select{margin:0}
a{color:#222;text-decoration:none}
label, input, button, select, img{vertical-align:middle}
body{font-size:0.81em}
*, :after, :before{box-sizing:border-box}
*{-webkit-text-size-adjust:none}
.sound_only{display:inline-block !important;position:absolute;top:0;left:0;margin:0 !important;padding:0 !important;font-size:0;line-height:0;border:0 !important;overflow:hidden !important}
/* ========================== 초기화 [e] */

#sh_wrapper, #sh_wrapper , #sh_wrapper :before, #sh_wrapper {box-sizing:border-box}
#sh_wrapper{position:relative;width:100%;font-weight:400;background-color:#fff}
#sh_wrapper.sub{background-color:#fff;background:none}

/* =========================== HEADER */
#sh_hd{position:relative;z-index:999;width:100%} 
#sh_hd_wrapper{position:absolute;width:100%;margin:0 auto;padding:0;zoom:1}
#sh_hd_wrapper:after{display:block;clear:both;content:"";width:100%;height:1px;background:rgba(255,255,255,.15)}
#sh_nav_wrap{position:fixed;top:0;width:100%;height:96px;padding:0 96px;border-bottom:1px solid rgba(255,255,255,0);background-color:#fff;transition:all .3s}
#sh_nav_wrap.fixed{border-bottom:1px solid #e1e1e1}
#sh_nav_wrap.fixed #sh_nav > li > a{color:#111}
#sh_nav_wrap.on{border-bottom:1px solid #e1e1e1}
#sh_nav_wrap.on #menuLine{background-color:#666}
/* 로고 */
#sh_top_logo{float:left;position:relative;top:-10%;-ms-transform:translateY(-50%);-webkit-transform:translateY(-50%);transform:translateY(-50%)}
/* 대분류  */
#sh_nav{position:absolute;top:0;left:50%;z-index:5001;-ms-transform:translateX(-50%);-webkit-transform:translateX(-50%);transform:translateX(-50%);min-width:698px;height:96px}
#sh_nav:after{display:block;content:"";visibility:hidden;clear:both}
#sh_nav > li{float:left;position:relative;padding:0 35px;line-height:96px}
#sh_nav > li > a{display:block;font-size:16px;color:#222;transition:all .2s;font-weight:500}
#menuLine{position:absolute;bottom:-1px;left:50%;width:0;height:1px;background-color:transparent;transition:all 0.5s ease-in-out}
.top_nav_bg{position:fixed;width:100%;display:none;top:96px;height:140px;background:#fff;-webkit-box-shadow:0px 12px 45px -17px rgba(0,0,0,0.12);box-shadow:0px 12px 45px -17px rgba(0,0,0,0.2)}
/* 소분류 */
.sh_nav_s{display:none;position:absolute;width:100%;min-height:140px;left:50%;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);padding-top:15px}
.sh_nav_s li a{display:block;margin:0px;font-size:13.5px;line-height:26px;text-align:center;color:#444;transition:color .2s;font-weight:400}
.sh_nav_s li a:hover{color:#000;font-weight:500}
/* 오픈메뉴 */
#pfBtn{float:right;position:relative;top:-10%;z-index:5003;padding:10px;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);cursor:pointer}
#pfBtn.no_pointer{pointer-events:none;cursor:alias}
#pfWrap{display:none;position:fixed;top:0;right:-100%;z-index:5002;width:100%;height:100%}
.pf_cate{display:none;position:absolute;right:0;top:0;width:0;height:100%;background:rgb(118,76,162);
background:linear-gradient(360deg, rgba(118,76,162,1) 0%, rgba(102,126,234,1) 100%);border-top-left-radius:100px}
.pf_cate ul{position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.pf_cate ul li{margin:0 0 12px 100px;font-weight:200;text-align:center;opacity:0}
.pf_cate ul li > a{display:inline-block;position:relative;font-size:24px;line-height:1.6;color:#fff;letter-spacing:0;-webkit-transition:all .3s;transition:all .3s}
.pf_cate ul li:nth-child(1){animation-delay:.4s}
.pf_cate ul li:nth-child(2){animation-delay:.5s}
.pf_cate ul li:nth-child(3){animation-delay:.6s}
.pf_cate ul li:nth-child(4){animation-delay:.7s}
.pf_cate ul li:nth-child(5){animation-delay:.8s}
.pf_cate ul li a.off{color:#acb2b9}
.pf_cate ul li a .nav_num{position:absolute;left:0;top:5px;font-size:11px;font-weight:600;color:#fff;opacity:0;letter-spacing:1px;-webkit-transition:all .3s;transition:all .3s;font-family:'Poppins'}
.pf_cate ul li a:hover{padding-left:30px}
.pf_cate ul li a:hover .nav_num{opacity:1}
.pf_cate .ct_link{position:absolute;bottom:100px;left:50%;transform:translateX(-50%);font-size:40px;font-weight:800;line-height:1;color:transparent;-webkit-text-stroke:1px rgba(255,255,255,.2);-webkit-transition:all .3s;transition:all .3s;cursor:pointer;font-family:'Poppins'}
.pf_cate .ct_link:hover{color:#fff;border:none}
.pf_img{position:absolute;right:0;top:0;width:50%;height:100%}
#pfVisual{overflow:hidden;position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);width:0;height:700px;background-color:#7d3951;opacity:0}
#pfSlide li{position:absolute;left:0;top:0;width:500px;height:700px}
/* 반응형 메뉴 [s] */
#topmenuM{display:none;position:relative;width:100%;padding:20px 15px;line-height:1.8;background-color:#fff;font-family:'Noto Sans KR'}	
/* 로고 */
#m_logo{position:relative}
#m_logo a{display:inline-block}
#m_logo img{}
/* 상단 버튼 및 오픈메뉴 */
#m_navBtn{position:absolute;top:16px;right:15px;z-index:5;width:30px;height:30px}
#m_navBtn span{display:block;position:relative;top:50%;transform:translateY(-50%);width:100%;height:2px}
#m_navBtn span:before, #m_navBtn span:after{display:block;content:"";position:absolute;top:-6px;width:30px;height:2px;background-color:#222;-webkit-transition:all .1s;transition:all .1s}
#m_navBtn span:after{top:6px;width:16px;right:0;background-color:#6e62c3}
#m_navBtn.on{position:fixed}
#m_navBtn.on span:before{top:0;right:-4px;transform:rotate(45deg)}
#m_navBtn.on span:after{top:0;right:-4px;width:30px;transform:rotate(-45deg);background-color:#222}
#navWrap{display:none;position:fixed;left:0;top:0;z-index:4;width:100%;height:100%;background-color:rgba(0,0,0,.7)}
#navWrap .inner{overflow-y:scroll;opacity:0;position:fixed;right:-40px;top:0;z-index:6;min-width:300px;width:75%;height:100%;padding:60px 0;background-color:#fff;-webkit-transition:all .1s;transition:all .1s}
#navWrap.on .inner{opacity:1;right:0;-webkit-transition:all .4s;transition:all .4s}
#navWrap .inner:before, #navWrap .inner:after{opacity:0;display:block;position:fixed;top:0;right:-40px;z-index:1;content:"";min-width:300px;width:70%;height:60px;background-color:#fff;-webkit-transition:all .1s;transition:all .1s}
#navWrap .inner:after{top:auto;bottom:0}
#navWrap.on .inner:before, #navWrap.on .inner:after{opacity:1;right:0;-webkit-transition:all .4s;transition:all .4s}
#navWrap .inner .mo_hd_copy{position:fixed;right:0;bottom:15px;z-index:2;min-width:300px;width:70%;font-size:12px;text-align:center;color:#888}
#navWrap .user_tip{padding:10px 20px;background-color:#f5f5f5}
#navWrap .user_tip li{display:inline-block}
#navWrap .user_tip li+li{margin-left:10px}
/* 대분류 */
#topmenuM .m_lnb .m_bmenu{display:block;position:relative;width:100%;height:52px;padding:0 20px;border:none;border-bottom:1px solid #ddd;background:none;font-size:16px;font-weight:400;line-height:52px;color:#222;text-align:left;font-family:'Noto Sans KR'}
#topmenuM .m_lnb .m_bmenu:after{float:right;content:"\f107";font-family:'fontawesome'}
#topmenuM .m_lnb .m_bmenu.on:after{content:"\f106"}
/* 소분류 */
#topmenuM .m_smenu{display:none;padding:15px 20px;border-bottom:1px solid #ddd;background-color:#f2f3f5}
#topmenuM .m_smenu li a{font-size:14px;color:#777}
@media (max-width:1200px){
#sh_nav_wrap{padding:0 2%}	
#sh_nav{min-width:598px}
#sh_nav > li{padding:0 25px}
}
@media (max-width:1024px){
#sh_hd{height:64px}
#sh_nav_wrap, #pfBtn{display:none}
#topmenuM{display:block}	
}
/* 반응형 메뉴 [e] */

/* =========================== SUB */
#sh_sub_banner{width:100%;height:400px;background:url(../img/sub/sub_main_banner.jpg)no-repeat;animation:main 25s linear infinite}
@keyframes main{from{background-position:top center}50%{background-position:bottom center}100%{background-position:top center}}

/* =========================== SNB */
#sh_aside{position:relative;width:100%;max-width:1200px;margin:-25px auto 0;text-align:center;background-color:transparent}

/* =========================== MAIN */
#sh_section{position:relative;width:100%;padding-top:135px}
#sh_section .grid{position:absolute;left:50%;top:0;transform:translateX(-50%);width:1200px;height:100%}
#sh_section .grid span{position:absolute;left:0;top:0;bottom:0;width:1px;background-color:#e1e1e1}
#sh_section .grid span:nth-child(2){left:25%}
#sh_section .grid span:nth-child(3){left:50%}
#sh_section .grid span:nth-child(4){left:75%}
#sh_section .grid span:nth-child(5){left:100%}

/* =========================== CONTAINER */
#sh_container{position:relative;z-index:15}
#sh_content{position:relative;z-index:200;width:100%;max-width:1200px;min-height:580px;padding:0;margin:70px auto 40px;font-size:14px;color:#888;zoom:1}
#sh_content:after{display:block;visibility:hidden;clear:both;content:""}
#sh_content_tit{padding-top:205px;text-align:center;font-size:15px;color:#fff}
#sh_content_tit h3{display:inline-block;position:relative;z-index:100;margin-bottom:17px;font-size:34px;font-weight:400}
#sh_content_tit h3:after{display:block;position:absolute;z-index:99;width:41px;height:42px;content:'';top:-12px;right:-22px}
#sh_content_tit .fa-home{color:#fff}
#sh_content_tit .fa-angle-right{padding:0 5px;color:#b5b5b5}

/* =========================== FOOTER */
#sh_ft{position:relative;z-index:10;width:100%;margin:0 auto;padding-top:95px;text-align:center;font-size:14px;line-height:24px;color:#6d6d6d;background:#222;}
#sh_ft .info{margin-bottom:80px;padding:0 20px;word-break:keep-all}
#sh_ft .info span{display:block;margin-bottom:26px;font-size:18px;line-height:26px;color:#fff;font-weight:500}
#sh_ft .copy{height:60px;font-size:14px;color:#555;line-height:50px;border-top:1px solid #404040;background:#222}
#sh_ft .copy .copy_wrap{position:relative;overflow:hidden;width:100%;max-width:1200px;margin:0 auto;padding-top:8px;text-align:left}
#sh_ft .copy b{font-weight:500}
#sh_ft .copy span{color:#555}
#sh_ft .copy .icon{position:absolute;right:0;top:6px}

/* =========================== 반응형 하단 버튼 */
#fix_tel{opacity:0;display:none;position:fixed;right:15px;bottom:20px;z-index:101;width:65px;height:65px;margin-right:-10px;border-radius:50%;font-size:30px;text-align:center;line-height:65px;color:#fff;background-color:#6e62c3;box-shadow:5px 5px 5px rgba(0,0,0,.2);-webkit-transition:all .2s;transition:all .2s}
#fix_tel.active{opacity:1;margin-right:0}
#sh_ft_btns{display:none;padding:15px}
#sh_ft_btns .btns{overflow:hidden}
#sh_ft_btns a{float:left;display:block;width:100%;height:55px;font-size:16px;font-weight:600;line-height:55px;color:#fff;text-align:center;background-color:#6e62c3;font-family:'Noto Sans KR'}
#sh_ft_btns a.tel{font-size:18px;font-weight:700;letter-spacing:0;font-family:'Poppins'}
#sh_ft_btns a i{padding-right:5px;font-size:18px}

/* 반응형 [s] */
@media (max-width:1200px){
#sh_section .grid{width:100%}
#sh_section .grid span:nth-child(1), #sh_section .grid span:nth-child(5){display:none}
}
@media (max-width:1024px){
#sh_hd_wrapper{position:relative}
#sh_sub_banner{height:260px}
#sh_content_tit{padding-top:90px}
#sh_content{margin:0 auto}
#sh_aside{display:none}
#sh_section{padding-top:90px}
}
@media (max-width:768px){
#sh_ft{padding-top:60px}
#sh_ft .info{margin-bottom:40px}
#sh_ft .info span{font-size:16px}
#sh_ft .copy{height:auto}
#sh_ft .copy .copy_wrap{padding:15px;line-height:1;text-align:center}
#sh_ft .copy .icon{position:relative;right:auto;top:auto;margin-top:10px}
}
@media (max-width:480px){
#sh_content{min-height:350px}
#sh_sub_banner{height:auto;background:none}
#sh_content_tit{padding:15px 0;border-top:1px solid #d1d1d1;border-bottom:1px solid #eee;color:#222}
#sh_content_tit h3{margin:0;font-size:16px;font-weight:500}
#sh_content_tit p{display:none}
#fix_tel{display:block}
#sh_ft_btns{display:block}
#sh_section{padding-top:60px}
}
/* 반응형 [e] */